Title: Coming Soon
CenteredLayout: true
---

<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto text-center">
                <img class="w-90-percent" src='@Context.GetLink("/assets/images/logo-dark.svg")' alt="Hollow Inside" title="Hollow Inside" />
                <h1 class="mt-3">WE'RE BACK. COMING SOON.</h1>
            </div>
        </div>
    </div>
</section>